*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100vw;
    overflow-x: none;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%,#E0C3FC 100%);
}
.navContainer{
    /* background-color: rgb(175, 108, 238); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100% );
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
nav{
    width: 100%;
    overflow-x: none;
}
#navLogo{
    font-size: 2rem;
    color: antiquewhite;
}
#navList{
    list-style-type: none ;
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 35px;
    align-items: center;
    font-size: 2rem;
    padding: 40px;
    color: azure;
}
a{
    text-decoration: none;
}
#navItems{
    display: flex;
    gap: 40px;
}
.contentBox{
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 0px 0px 30px black;
}
.item{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 2rem;
}
.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;

}
.rightBox img{
    height: 400px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 5px 7px 20px rgba(31, 29, 29, 0.713);
    transition: all 0.6s linear 0s;
}
.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 17, 17, 0.411);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear;
}
.rightBox:hover .overlay{
    opacity: 1;
}
.rightBox .overlay span{
    color: white;
    font-size: 1.2rem;
}
.rightBox:hover img{
    transform: scale(1.2);
}
.leftbox{
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #fffef7; /* warm tone */
    border: 1px solid #e8ddbf;
    padding: 1.7rem;
    border-radius: 14px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.12);
    width: 340px;
}
.leftbox h2{
    font-size: 1.6rem;
    margin-bottom: 8px;
}
.ingBox{
    font-size: 1.3rem;
}
.recBox{
    font-size: 1.1rem;
}
@media (max-width:900px){
    .item{
        justify-content: center;
        gap: 30px;
    }
    .leftbox{
        width: 100%;
        max-width: 450px;
    }
}
@media (max-width: 600px){
    .item{
        flex-direction: column;
        align-items: center;
        text-align: left;
        gap: 25px;
    }

    .rightBox img{
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .leftbox{
        width: 90%;
    }
}
.footerBox{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100% );
    width: 100vw;
    color: azure;
    text-align: center;
    min-height: 40px;
}
.footerBox p{
    color: azure;
    font-size: 1.5rem;
}